<div ng-controller="Gibe.LinkPickerController">

	<div class="gibe-link-picker">
		<p class="chosen" ng-show="model.value">
		    <a href="{{model.value.url}}" target="_blank">{{model.value.name || model.value.url}}</a>
		    <a class="remove" href="" ng-click="removeLink()"><i class="icon icon-delete"></i></a>
            <a class="edit" href="" ng-click="editLink()"><i class="icon icon-edit"></i></a>
		</p>
		<p class="internal-picker" ng-hide="model.value">
			<a class="link" href="" ng-click="chooseLink()">
				<localize key="general_choose">Choose</localize>
			</a>
		</p>
	</div>

</div>